.c-sectiontitle {
  padding-top: 70px;
  text-align: center;
  span {
    display: inline-block;
    border-bottom: 4px solid $color-red;
    padding-bottom: .1em;
    font-family: $fontfamily-roboto-condensed;
    font-size: 29px;
    letter-spacing: .2em;
    color: $color-red;
  }
}

.c-morebtn {
  display: inline-block;
  a {
    background-color: $color-red;
    padding: .4em;
    font-size: 14px;
    color: $color-white;
    letter-spacing: .2em;
    &:after {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      background: url(images/layout/arrow.svg) no-repeat center center / 100% auto;
    }
  }
}