.c-sectionheading {
  padding-top: 70px;
  text-align: center;
  span {
    display: inline-block;
    border-bottom: 4px solid $color-red;
    padding-bottom: .1em;
    font-family: $fontfamily-roboto-condensed;
    font-size: 29px;
    letter-spacing: .2em;
    color: $color-red;
  }
  &.c-sectionheading__jp {
    font-size: 24px;
    font-weight: bold;
  }
}

.c-headinglead {
  text-align: center;
  .c-heading {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.5;
    @include media(sp) {
      font-size: .28rem;
    }
  }
  .c-lead {
    font-size: 18px;
    letter-spacing: .1em;
    line-height: 2.2;
    @include media(sp) {
      margin-top: .38rem;
      font-size: .18rem;
    }
    @include media(tb) {
      margin-top: 38px;
    }
    @include media(pc) {
      margin-top: 42px;
    }
  }
}

.c-morebtn {
  a {
    display: inline-block;
    background-color: $color-red;
    padding: .6em .8em;
    font-size: 14px;
    color: $color-white;
    letter-spacing: .2em;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      background: url(images/layout/arrow.svg) no-repeat center center / 100% auto;
    }
  }
}

.c-btn {
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  border: 3px solid $color-red;
  font-size: 16px;
  color: $color-red;
  font-weight: bold;
  transition: .24s ease all;
  &:hover {
    background: $color-red;
    color: #fff;
  }
}