#index {
  .hero {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 834px;
    overflow: hidden;
    .hero-copy {
      position: relative;
      z-index: 1;
      .hero-copy_text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0,-50%);
        text-align: center;
        @include media(sp) {
          padding: 0 .094rem;
        }
        @include media(tb) {
          padding: 0 46px;
        }
        @include media(pc) {
          padding: 0 70px;
          text-align: right;
        }
        &.is-red {
          @include media(pc) {
            text-align: left;
          }
          .en {
            display: block;
            font-weight: bold;
            font-family: $fontfamily-roboto-condensed;
            color: $color-red;
            letter-spacing: .1em;
            @include media(sp) {
              font-size: .45rem;
            }
            @include media(tb) {
              font-size: 50px;
            }
            @include media(pc) {
              letter-spacing: .2em;
              font-size: 75px;
            }
          }
          .jp {
            display: block;
            margin-top: 1em;
            font-weight: bold;
            font-family: $fontfamily-roboto-condensed;
            font-size: 24px;
            letter-spacing: .3em;
            color: $color-white;
            @include media(sp) {
              font-size: .19rem;
            }
            @include media(tb) {
              font-size: 16px;
            }
            @include media(pc) {
              font-size: 24px;
              color: $color-black;
            }
          }
        }
        .strong {
          display: block;
          font-weight: bold;
          font-family: $fontfamily-roboto-condensed;
          letter-spacing: .2em;
          color: $color-white;
          @include media(sp) {
            font-size: .45rem;
          }
          @include media(tb) {
            font-size: 50px;
          }
          @include media(pc) {
            font-size: 75px;
          }
        }
        .small {
          display: block;
          font-family: $fontfamily-roboto-condensed;
          font-size: 75px;
          letter-spacing: .2em;
          color: $color-white;
          @include media(sp) {
            font-size: .45rem;
          }
          @include media(tb) {
            font-size: 50px;
          }
          @include media(pc) {
            font-size: 75px;
          }
        }
      }
    }
    .hero-video {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      min-height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
      @media screen and (min-width: 1500px) {
        width: 100%;
        height: auto;
      }
    }
  }
  .concept {
    position: relative;
    padding-bottom: 70px;
    background: url(images/index/concept_bg.svg) no-repeat center center;
    .concept-block {
      margin: 90px auto 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      width: 1100px;
      .concept-copy {
        width: 490px;
        .concept-copy__heading {
          .jp {
            display: block;
            font-weight: bold;
            font-size: 44px;
            line-height: 1.6;
            letter-spacing: .1em;
          }
          .en {
            margin-top: .5em;
            display: block;
            font-family: $fontfamily-roboto;
            font-weight: bold;
            font-size: 39px;
            color: $color-red;
            letter-spacing: .076em;
            strong {
              font-size: 44px;
            }
          }
        }
        .concept-copy__text {
          margin-top: 2em;
          font-size: 18px;
          line-height: 2.1;
          letter-spacing: .03em;
        }
      }
      .concept-image {
        position: relative;
        margin: 20px 40px 0 38px;
        
        img {
          position: relative;
          z-index: 2;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -13px;
          left: 16px;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: $color-red;
        }
      }
    }
    .concept-text {
      margin: 20px auto 0;
      width: 1100px;
      .concept-text__arrow {
        font-size: 26px;
        line-height: 2;
        font-weight: bold;
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: .4em  ;
          width: .8em;
          height: 1em;
          background: url(images/index/concept_arrow.svg) no-repeat left center / 100% auto;
        }
      }
    }
    .concept-list {
      background-color: $color-red;
      mix-blend-mode: multiply;
      margin-top: 42px;
      padding: 28px 0 28px 65px;
      width: 750px;
      @media screen and (min-width: 1230px) {
        padding-left: calc( (100vw - 1100px) / 2);
      }
      box-sizing: content-box;
      .concept-list__items {
        .concept-list__item {
          color: $color-white;
          font-size: 17px;
          font-weight: bold;
          letter-spacing: .1em;
          &:nth-child(n+2) {
            margin-top: 1.1em;
          }
        }
      }
    }
    .concept-btn {
      position: absolute;
      bottom: 84px;
      left: 50%;
      margin-left: 372px;
    }
  }
  .casestudy {
    position: relative;
    min-width: 1230px;
    background-color: $color-gray-ultralight;
    .casestudy-block {
      margin: 0 auto;
      width: 1230px;
      background-color: $color-gray-light;
    }
    .casestudy-slider {
      position: relative;
      height: 578px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
        width: 4000px;
        height: 100%;
        background-color: rgba(255,255,255,.72);
        transform: translate(-50% , 0);
      }
      .bx-wrapper {
        position: relative;
        z-index: 2;
        margin: 0  auto;
        max-width: inherit !important;
        width: 1080px;
        height: 100%;
        .bx-viewport {
          position: relative;
          z-index: 1;
          max-width: inherit !important;
          width: 100% !important;
          height: 100% !important;
          overflow: visible !important;
          .casestudy-slider__items {
            padding: 42px 0 72px;
            height: 100% !important;
            .casestudy-slider__item {
              opacity: .4;
              padding: 0 25px;
              width: 540px !important;
              transition: all .48s ease;
              &.active {
                opacity: 1;
              }
              .name {
                margin-top: 1.4em;
                font-size: 18px;
                font-weight: bold;
              }
              .text {
                margin-top: 1em;
                font-size: 15px;
                line-height: 2;
              }
            }
          }
        }
        .bx-controls {
          .bx-prev,
          .bx-next {
            position: absolute;
            top: 185px;
            z-index: 9;
            width: 42px;
            height: 42px;
            background: url(images/index/casestudySlider_arrow.svg) no-repeat center center / cover;
            font-size: 0;
          }
          .bx-prev {
            position: absolute;
            left: -50px;
          }
          .bx-next {
            position: absolute;;
            right: -50px;
            transform: rotate(180deg);
          }
        }
      }
    }
    .casestudy-btn {
      text-align: center;
      padding: 76px 0 62px;
    }
  }
  
  .service {
    width: 100%;
    background-color: $color-gray-ultralight;
    .service-block {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      margin: 0 auto;
      width: 1230px;
      .service-content__item {
        padding: 24px 35px 30px;
        width: 362px;
        box-sizing: content-box;
        &:nth-child(1) {
          padding-left: 0;
        }
        &:nth-child(3) {
          padding-right: 0;
        }
        &:nth-child(n+2) {
          border-left: 1px solid $color-gray-light;
        }
        .title {
          font-size: 20px;
          font-weight: bold;
          color: $color-red;
          letter-spacing: -.04em;
        }
        .lead {
          margin-top: 1.8em;
          font-size: 15px;
          line-height: 1.9;
        }
        .list {
          margin-top: 20px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          li {
            width: 50%;
            line-height: 1.8;
            font-size: 14px;
            color: $color-red;
          }
        }
        .image {
          margin-top: 34px;
        }
        .btn {
          margin-top: 34px;
        }
      }
    }
  }
  
  .company {
    margin: 0 auto;
    padding-bottom: 90px;
    width: 1230px;
    .company-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 72px auto 0;
      width: 780px;
      font-size: 15px;
      .company-list_term {
        width: 154px;
        border-right: 1px solid $color-red;
      }
      .company-list_description {
        padding-left: 1.2em;
        width: calc(100% - 154px);
      }
      *:nth-child(n+3) {
        margin-top: 24px;
      }
    }
    .company-btn {
      margin: 20px auto 0;
      width: 780px;
      text-align: right;
    }
  }
}

#about {
  .intro {
    
  }
}
