@charset "UTF-8";
/* line 1, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, figure, figcaption {
  margin: 0;
  padding: 0; }

/* line 3, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
input, textarea {
  margin: 0;
  font-size: 100%; }

/* line 5, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
label {
  cursor: pointer; }

/* line 7, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%; }

/* line 9, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
fieldset, img {
  border: 0; }

/* line 11, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top; }

/* line 13, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 15, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
ol, ul {
  list-style: none; }

/* line 17, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
caption, th {
  text-align: left; }

/* line 19, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; }

/* line 21, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
q:after, q:before {
  content: ''; }

/* line 23, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
a, input {
  outline: none; }

/* line 25, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
input, textarea {
  border-radius: 0;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

/* line 27, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; }

/* line 29, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
abbr, acronym {
  border: 0; }

/* line 31, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 33, /Applications/MAMP/htdocs/CWF/scss/foundation/_reset.scss */
a {
  display: block; }

/* line 1, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  @media screen and (max-width: 640px) {
    /* line 1, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
    html {
      font-size: 15.625vw; } }
  @media screen and (max-width: 1024px) and (min-width: 641px) {
    /* line 1, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
    html {
      font-size: 10px; } }
  @media screen and (min-width: 1025px) {
    /* line 1, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
    html {
      font-size: 10px; } }

/* line 14, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  position: relative;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1;
  word-wrap: break-word; }

/* line 27, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
a {
  color: #212121;
  text-decoration: none; }

/* line 31, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
a:hover {
  transition: all 0.3s; }

/* line 34, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
::selection {
  background: #eee;
  color: #212121;
  text-shadow: none; }

/* line 39, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
::-moz-selection {
  background: #eee;
  color: #212121;
  text-shadow: none; }

/* line 44, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
.legacy-ie {
  background: #eee;
  width: 100%;
  padding: 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10000; }

/* line 54, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
.legacy-ie a {
  color: #0066b3;
  text-decoration: none; }

/* line 58, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
.noscript {
  background: #eee;
  width: 100%;
  padding: 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10000; }

@media screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 69, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-sp {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 69, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-sp {
    display: none !important; } }

@media screen and (max-width: 640px) {
  /* line 77, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-tb {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 77, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-tb {
    display: none !important; } }

@media screen and (max-width: 640px) {
  /* line 85, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-pc {
    display: none !important; } }

@media screen and (max-width: 1024px) and (min-width: 641px) {
  /* line 85, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-pc {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 93, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-st {
    display: none !important; } }

@media screen and (max-width: 640px) {
  /* line 98, /Applications/MAMP/htdocs/CWF/scss/foundation/_base.scss */
  .is-tp {
    display: none !important; } }

/* line 2, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6); }
  @media screen and (max-width: 640px) {
    /* line 2, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header {
      padding-left: 4.6%; } }
  /* line 17, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
  #header .sitename {
    width: 278px; }
    @media screen and (max-width: 640px) {
      /* line 17, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .sitename {
        width: 2.75rem; } }
  @media screen and (max-width: 640px) {
    /* line 23, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .gnav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      pointer-events: none; } }
  @media screen and (max-width: 1024px) and (min-width: 641px) {
    /* line 23, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .gnav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      pointer-events: none; } }
  @media screen and (min-width: 1025px) {
    /* line 23, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .gnav {
      max-width: 900px;
      width: 68%; } }
  /* line 44, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
  #header .gnav .list {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1024px) and (min-width: 641px) {
      /* line 44, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list {
        flex-flow: column wrap; } }
    @media screen and (min-width: 1025px) {
      /* line 44, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list {
        flex-flow: row wrap; } }
    /* line 54, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .gnav .list .item.is-red {
      width: 28%;
      background-color: #a42629; }
      /* line 57, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list .item.is-red a {
        position: relative;
        padding-left: 46px;
        text-align: left;
        color: #FFFFFF; }
        /* line 62, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
        #header .gnav .list .item.is-red a:after {
          content: '';
          position: absolute;
          top: 0;
          right: 30px;
          width: 18px;
          height: 100%;
          background: url(images/layout/arrow.svg) no-repeat center center/100% auto; }
    /* line 73, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .gnav .list .item a {
      padding-top: 30px;
      height: 92px;
      text-align: center; }
      /* line 77, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list .item a:hover {
        color: #a42629; }
      /* line 80, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list .item a .en {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: .2em; }
        @media screen and (max-width: 1200px) and (min-width: 1025px) {
          /* line 80, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
          #header .gnav .list .item a .en {
            font-size: 16px;
            letter-spacing: .1em; } }
      /* line 91, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .gnav .list .item a .jp {
        display: block;
        margin-top: .6em;
        font-size: 13px;
        letter-spacing: .4em; }
        @media screen and (max-width: 1200px) and (min-width: 1025px) {
          /* line 91, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
          #header .gnav .list .item a .jp {
            font-size: 12px;
            letter-spacing: .2em; } }
  /* line 105, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
  #header .contact {
    margin-left: auto;
    background-color: #a42629; }
    /* line 108, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .contact a {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 640px) {
        /* line 108, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
        #header .contact a {
          width: .82rem;
          height: .82rem; } }
      @media screen and (max-width: 1024px) and (min-width: 641px) {
        /* line 108, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
        #header .contact a {
          width: 92px;
          height: 92px; } }
      /* line 120, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .contact a img {
        width: 50%; }
  /* line 126, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
  #header .menu a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 640px) {
      /* line 126, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .menu a {
        width: .82rem;
        height: .82rem; } }
    @media screen and (max-width: 1024px) and (min-width: 641px) {
      /* line 126, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .menu a {
        width: 92px;
        height: 92px; } }
    /* line 139, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
    #header .menu a div {
      width: 50%;
      background-color: #a42629; }
      @media screen and (max-width: 640px) {
        /* line 139, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
        #header .menu a div {
          height: .04rem; } }
      @media screen and (max-width: 1024px) and (min-width: 641px) {
        /* line 139, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
        #header .menu a div {
          height: 6px; } }
      /* line 148, /Applications/MAMP/htdocs/CWF/scss/layout/_header.scss */
      #header .menu a div:nth-child(n+2) {
        margin-top: 10%; }

/* line 2, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
#footer {
  margin-top: 88px;
  padding-bottom: 52px;
  width: 100%;
  background-color: #f0f0f0; }
  @media screen and (max-width: 640px) {
    /* line 2, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
    #footer {
      padding-bottom: .78rem; } }
  @media screen and (min-width: 1025px) {
    /* line 2, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
    #footer {
      min-width: 1260px; } }
  /* line 13, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
  #footer .redarea {
    padding: 22px 0;
    background-color: #a42629;
    color: #FFFFFF; }
    /* line 17, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
    #footer .redarea a {
      display: block;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%; }
      /* line 24, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .redarea a .icon {
        width: 56px; }
        @media screen and (max-width: 640px) {
          /* line 24, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .redarea a .icon {
            width: .54rem; } }
      /* line 30, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .redarea a .text {
        position: relative;
        margin-left: 12px;
        padding-right: 76px;
        text-align: left;
        color: #FFFFFF;
        box-sizing: content-box; }
        @media screen and (max-width: 640px) {
          /* line 30, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .redarea a .text {
            padding-right: .76rem; } }
        /* line 40, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .redarea a .text:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 24px;
          height: 100%;
          background: url(images/layout/arrow.svg) no-repeat center center/100% auto; }
          @media screen and (max-width: 640px) {
            /* line 40, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
            #footer .redarea a .text:after {
              width: .24rem; } }
        /* line 52, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .redarea a .text .en {
          display: block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: .2em; }
          @media screen and (max-width: 640px) {
            /* line 52, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
            #footer .redarea a .text .en {
              font-size: .25rem; } }
        /* line 62, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .redarea a .text .jp {
          display: block;
          margin-top: .2em;
          font-size: 14px;
          letter-spacing: .35em; }
          @media screen and (max-width: 640px) {
            /* line 62, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
            #footer .redarea a .text .jp {
              font-size: .15rem; } }
  /* line 74, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
  #footer .gnav {
    margin: 86px auto 0;
    width: 812px; }
    @media screen and (max-width: 640px) {
      /* line 74, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .gnav {
        margin-top: .9rem;
        padding: 0 .094rem;
        width: 100%; } }
    @media screen and (max-width: 1024px) and (min-width: 641px) {
      /* line 74, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .gnav {
        width: 600px; } }
    /* line 85, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
    #footer .gnav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 1025px) {
        /* line 85, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .gnav ul {
          justify-content: space-between; } }
      @media screen and (max-width: 640px) {
        /* line 93, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .gnav ul li {
          margin-left: .5rem; }
          /* line 96, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .gnav ul li:nth-child(4n+1) {
            margin-left: 0; }
          /* line 99, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .gnav ul li:nth-child(n+5) {
            margin-top: .3rem; } }
      @media screen and (max-width: 1024px) and (min-width: 641px) {
        /* line 93, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
        #footer .gnav ul li {
          margin-left: 80px; }
          /* line 105, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .gnav ul li:nth-child(4n+1) {
            margin-left: 0; }
          /* line 108, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .gnav ul li:nth-child(n+5) {
            margin-top: 30px; } }
      /* line 112, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .gnav ul li a {
        font-size: 12px;
        color: #a42629;
        letter-spacing: .35em; }
        @media screen and (max-width: 640px) {
          /* line 112, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
          #footer .gnav ul li a {
            font-size: .15rem; } }
  /* line 123, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
  #footer .logo {
    margin: 90px auto 0;
    width: 160px; }
    @media screen and (max-width: 640px) {
      /* line 123, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer .logo {
        margin-top: .68rem;
        width: 1.62rem; } }
  /* line 131, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
  #footer address {
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 2.2;
    letter-spacing: .2em;
    color: #353535; }
    @media screen and (max-width: 640px) {
      /* line 131, /Applications/MAMP/htdocs/CWF/scss/layout/_footer.scss */
      #footer address {
        margin-top: .26rem;
        font-size: .14rem; } }

/* main
   ----------------------------------------------------------------- */
/* line 1, /Applications/MAMP/htdocs/CWF/scss/object/_component.scss */
.c-sectiontitle {
  padding-top: 70px;
  text-align: center; }
  /* line 4, /Applications/MAMP/htdocs/CWF/scss/object/_component.scss */
  .c-sectiontitle span {
    display: inline-block;
    border-bottom: 4px solid #a42629;
    padding-bottom: .1em;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 29px;
    letter-spacing: .2em;
    color: #a42629; }

/* line 15, /Applications/MAMP/htdocs/CWF/scss/object/_component.scss */
.c-morebtn {
  display: inline-block; }
  /* line 17, /Applications/MAMP/htdocs/CWF/scss/object/_component.scss */
  .c-morebtn a {
    background-color: #a42629;
    padding: .4em;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: .2em; }
    /* line 23, /Applications/MAMP/htdocs/CWF/scss/object/_component.scss */
    .c-morebtn a:after {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      background: url(images/layout/arrow.svg) no-repeat center center/100% auto; }

/* line 2, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
#index .hero {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  height: 834px;
  overflow: hidden; }
  /* line 10, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .hero .hero-copy {
    position: relative;
    z-index: 1; }
    /* line 13, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #index .hero .hero-copy .hero-copy_text {
      position: absolute;
      top: 50%;
      left: 0;
      padding: 0 70px;
      width: 100%;
      transform: translate(0, -50%);
      text-align: right; }
      /* line 21, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .hero .hero-copy .hero-copy_text.is-red {
        text-align: left; }
        /* line 23, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
        #index .hero .hero-copy .hero-copy_text.is-red .en {
          display: block;
          font-weight: bold;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 75px;
          letter-spacing: .2em;
          color: #a42629; }
        /* line 31, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
        #index .hero .hero-copy .hero-copy_text.is-red .jp {
          display: block;
          margin-top: 1em;
          font-weight: bold;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 24px;
          letter-spacing: .3em; }
      /* line 40, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .hero .hero-copy .hero-copy_text .strong {
        display: block;
        font-weight: bold;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 75px;
        letter-spacing: .2em;
        color: #FFFFFF; }
      /* line 48, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .hero .hero-copy .hero-copy_text .small {
        display: block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 75px;
        letter-spacing: .2em;
        color: #FFFFFF; }
  /* line 57, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .hero .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%); }

/* line 65, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
#index .concept {
  position: relative;
  min-width: 1230px;
  padding-bottom: 70px;
  background: url(images/index/concept_bg.svg) no-repeat center center; }
  /* line 70, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .concept .concept-block {
    margin: 90px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 1100px; }
    /* line 77, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #index .concept .concept-block .concept-copy {
      width: 490px; }
      /* line 80, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-block .concept-copy .concept-copy__heading .jp {
        display: block;
        font-weight: bold;
        font-size: 44px;
        line-height: 1.6;
        letter-spacing: .1em; }
      /* line 87, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-block .concept-copy .concept-copy__heading .en {
        margin-top: .5em;
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 39px;
        color: #a42629;
        letter-spacing: .076em; }
        /* line 95, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
        #index .concept .concept-block .concept-copy .concept-copy__heading .en strong {
          font-size: 44px; }
      /* line 100, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-block .concept-copy .concept-copy__text {
        margin-top: 2em;
        font-size: 18px;
        line-height: 2.1;
        letter-spacing: .03em; }
    /* line 107, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #index .concept .concept-block .concept-image {
      position: relative;
      margin: 20px 40px 0 38px; }
      /* line 111, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-block .concept-image img {
        position: relative;
        z-index: 2; }
      /* line 115, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-block .concept-image:after {
        content: '';
        display: block;
        position: absolute;
        top: -13px;
        left: 16px;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #a42629; }
  /* line 128, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .concept .concept-text {
    margin: 20px auto 0;
    width: 1100px; }
    /* line 131, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #index .concept .concept-text .concept-text__arrow {
      font-size: 26px;
      line-height: 2;
      font-weight: bold; }
      /* line 135, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-text .concept-text__arrow:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: .4em;
        width: .8em;
        height: 1em;
        background: url(images/index/concept_arrow.svg) no-repeat left center/100% auto; }
  /* line 146, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .concept .concept-list {
    background-color: #a42629;
    mix-blend-mode: multiply;
    margin-top: 42px;
    padding: 28px 0;
    padding-left: calc( (100vw - 1100px) / 2);
    width: 750px;
    box-sizing: content-box; }
    /* line 155, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #index .concept .concept-list .concept-list__items .concept-list__item {
      color: #FFFFFF;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: .1em; }
      /* line 160, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
      #index .concept .concept-list .concept-list__items .concept-list__item:nth-child(n+2) {
        margin-top: 1.1em; }
  /* line 166, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #index .concept .concept-btn {
    position: absolute;
    bottom: 0;
    left: 0; }

/* line 182, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
#privacy .detail .detail-block {
  max-width: 1230px;
  margin: 0 auto 100px; }
  /* line 185, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #privacy .detail .detail-block .detail-block_heading {
    margin-bottom: 50px;
    border: 1px solid #000;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold; }
  /* line 193, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #privacy .detail .detail-block .detail-block__content .text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 50px; }
    /* line 197, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #privacy .detail .detail-block .detail-block__content .text a {
      color: #a42629;
      display: inline-block; }
  /* line 202, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #privacy .detail .detail-block .detail-block__content .heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  /* line 207, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #privacy .detail .detail-block .detail-block__content .heading_small {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px; }
  /* line 212, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
  #privacy .detail .detail-block .detail-block__content .list {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 60px; }
    /* line 216, /Applications/MAMP/htdocs/CWF/scss/object/_page.scss */
    #privacy .detail .detail-block .detail-block__content .list a {
      color: #a42629;
      margin-top: 10px; }

/*# sourceMappingURL=style.css.map */